In [1]:
import pandas as pd
import os

In [2]:
file = "Resources/purchase_data.csv"
purchaseData = pd.read_csv(file)
purchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#player counts
uniquePlayers = purchaseData["SN"].unique()

playerCount = len(uniquePlayers)
playerCountDf = pd.DataFrame({"Total Players": [playerCount]})
playerCountDf

   Total Players
0            576

In [4]:
#number of unique items
uniqueItems = purchaseData["Item ID"].unique()
countUniqueItems = len(uniqueItems)

#average purchase price
meanItems = purchaseData["Price"].mean()

#total number of purchases
numPurchases = purchaseData["Item Name"].count()

#total Revenue
totalRevenue = purchaseData["Price"].sum()


purchaseAnalysisDf = pd.DataFrame({"Number of Unique Items": [countUniqueItems],
                                      "Average Price": [meanItems],
                                      "Number of Purchases": [numPurchases], 
                                      "Total Revenue": [totalRevenue]}, index = [0])
purchaseAnalysisDf["Average Price"] = purchaseAnalysisDf["Average Price"].map('${:,.2f}'.format)
purchaseAnalysisDf["Total Revenue"] = purchaseAnalysisDf["Total Revenue"].map('${:,.2f}'.format)

purchaseAnalysisDf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [5]:
#player gender counts
uniqueUsers = purchaseData.sort_values(by = "Gender").drop_duplicates(subset="SN")

males = uniqueUsers.loc[uniqueUsers["Gender"] == "Male", "Gender"]
females = uniqueUsers.loc[uniqueUsers["Gender"] == "Female", "Gender"]
nonDisclosed = uniqueUsers.loc[uniqueUsers["Gender"] == "Other / Non-Disclosed", "Gender"]
malePlayers = males.count()
malePlayers
femalePlayers = females.count()
nonDisclosedPlayers = nonDisclosed.count()

genderDF = pd.DataFrame({"Total Counts": [malePlayers, femalePlayers, nonDisclosedPlayers],
                        "Percentage of Players": [((malePlayers/playerCount)*100),
                         ((femalePlayers/playerCount)*100),
                        ((nonDisclosedPlayers/playerCount)*100)]},
                       index = ["Male", "Female", "Other / Non-Disclosed"])
genderDF["Percentage of Players"] = genderDF["Percentage of Players"].map('{:,.2f}%'.format)
genderDF

                       Total Counts Percentage of Players
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%

In [6]:
#purchase Analysis by Gender
genderGroups = purchaseData.groupby(["Gender"])
purchaseCount = genderGroups["Item Name"].count()
avgPurchasePrice = genderGroups["Price"].mean()
totalPurValue = genderGroups["Price"].sum()
avgFemalePurchase = totalPurValue["Female"]/femalePlayers
avgMalePurchase = totalPurValue["Male"]/malePlayers
avgNonDiscPurchase = totalPurValue["Other / Non-Disclosed"]/nonDisclosedPlayers


genderPurchaseData = pd.DataFrame({"Purchase Count" : purchaseCount, 
                                   "Average Purchase Price": avgPurchasePrice, 
                                   "Total Purchase Value":totalPurValue,
                                  "Avg Total Purchase Per Person": [avgFemalePurchase, avgMalePurchase,avgNonDiscPurchase]})
genderPurchaseData["Average Purchase Price"] = genderPurchaseData["Average Purchase Price"].map('${:,.2f}'.format)
genderPurchaseData["Total Purchase Value"] = genderPurchaseData["Total Purchase Value"].map('${:,.2f}'.format)
genderPurchaseData["Avg Total Purchase Per Person"] = genderPurchaseData["Avg Total Purchase Per Person"].map('${:,.2f}'.format)

genderPurchaseData

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
#Age Demographics
maxAge = purchaseData["Age"].max()

bins = [0,9,14,19,24,29,34,39,maxAge]
groupNames = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]
uniqueUsers["Age Breakdown"] = pd.cut(uniqueUsers["Age"], bins, labels = groupNames)


less10 = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="<10", "Age Breakdown"]
less10count = less10.count()

eleven = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="11-14", "Age Breakdown"]
elevenCount=eleven.count()

fifteen = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="15-19", "Age Breakdown"]
fifteenCount = fifteen.count()

twenty = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="20-24", "Age Breakdown"]
twentyCount = twenty.count()

twentyFive = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="25-29", "Age Breakdown"]
twentyFiveCount = twentyFive.count()

thirty = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="30-34", "Age Breakdown"]
thirtyCount = thirty.count()

thirtyFive = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="35-39", "Age Breakdown"]
thirtyFiveCount = thirtyFive.count()

fortyPlus = uniqueUsers.loc[uniqueUsers["Age Breakdown"]=="40+", "Age Breakdown"]
fortyPlusCount = fortyPlus.count()


agesBreakdownDF = pd.DataFrame({"Total Count": [less10count, elevenCount, fifteenCount, twentyCount,
                                                twentyFiveCount, thirtyCount, thirtyFiveCount, fortyPlusCount],
                                "Percentage of Players": [((less10count/playerCount)*100), ((elevenCount/playerCount)*100),
                                                         ((fifteenCount/playerCount)*100), ((twentyCount/playerCount)*100),
                                                         ((twentyFiveCount/playerCount)*100), ((thirtyCount/playerCount)*100),
                                                         ((thirtyFiveCount/playerCount)*100), ((fortyPlusCount/playerCount)*100)]},
                                                            index = ["<10", "11-14", "15-19", "20-24",
                                                                     "25-29", "30-34", "35-39", "40+"])
agesBreakdownDF["Percentage of Players"] = agesBreakdownDF["Percentage of Players"].map('{:,.2f}%'.format)      
agesBreakdownDF

       Total Count Percentage of Players
<10             17                 2.95%
11-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [8]:
#Purchase Analysis by Age
purchaseData["Age Breakdown"] = pd.cut(purchaseData["Age"], bins, labels = groupNames)
ageGroups = purchaseData.groupby(["Age Breakdown"])
agePurchaseCounts = ageGroups["Item Name"].count()
ageAvgPrice = ageGroups["Price"].mean()
ageTotalPrice = ageGroups["Price"].sum()
ageAvg1 = ageTotalPrice["<10"]/less10count
ageAvg2 = ageTotalPrice["11-14"]/elevenCount
ageAvg3 = ageTotalPrice["15-19"]/fifteenCount
ageAvg4 = ageTotalPrice["20-24"]/twentyCount
ageAvg5 = ageTotalPrice["25-29"]/twentyFiveCount
ageAvg6 = ageTotalPrice["30-34"]/thirtyCount
ageAvg7 = ageTotalPrice["35-39"]/thirtyFiveCount
ageAvg8 = ageTotalPrice["40+"]/fortyPlusCount


agePurchaseData = pd.DataFrame({"Purchase Count": agePurchaseCounts, "Average Purchase Price": ageAvgPrice,
                               "Total Purchase Value": ageTotalPrice, 
                                "Avg Total Purchase per Person": 
                                [ageAvg1,ageAvg2,ageAvg3,ageAvg4,ageAvg5,ageAvg6,ageAvg7,ageAvg8]})
agePurchaseData["Average Purchase Price"] = agePurchaseData["Average Purchase Price"].map('${:,.2f}'.format)
agePurchaseData["Total Purchase Value"] = agePurchaseData["Total Purchase Value"].map('${:,.2f}'.format)
agePurchaseData["Avg Total Purchase per Person"] = agePurchaseData["Avg Total Purchase per Person"].map('${:,.2f}'.format)
agePurchaseData

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Breakdown,,,,
<10,23,$3.35,$77.13,$4.54
11-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [9]:
#Top Spenders

topSpenders =purchaseData.groupby(["SN"])
topSpendersPurValue = topSpenders["Price"].sum()
topSpendersPurCount = topSpenders["SN"].count()
topSpenderAvgPurValue = topSpendersPurValue/topSpendersPurCount

topSpendersDF = pd.DataFrame({"Purchase Count": topSpendersPurCount, "Average Purchase Price": topSpenderAvgPurValue,
                             "Total Purchase Value": topSpendersPurValue})


sortedTopSpendersDF = topSpendersDF.sort_values("Total Purchase Value", ascending = False)
top5SpendersDF = sortedTopSpendersDF.head(5)
top5SpendersDF._is_copy=False
# add to row above .reset_index(drop=False)
top5SpendersDF["Average Purchase Price"] = top5SpendersDF["Average Purchase Price"].map('${:,.2f}'.format)
top5SpendersDF["Total Purchase Value"] = top5SpendersDF["Total Purchase Value"].map('${:,.2f}'.format)
top5SpendersDF

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [10]:
#Most Popular Items

mostPopular = purchaseData.groupby(["Item ID", "Item Name"])

itemCount = mostPopular["Price"].count()
itemPrice = mostPopular["Price"].max()
itemPriceTotal = mostPopular["Price"].sum()

mostPopularDF = pd.DataFrame({"Purchase Count": itemCount, "Item Price": itemPrice,
                             "Total Purchase Value": itemPriceTotal})
sortedMostPopularDF = mostPopularDF.sort_values("Purchase Count", ascending = False)
mostPopular5DF = sortedMostPopularDF.head(5)
mostPopular5DF._is_copy=False
mostPopular5DF["Total Purchase Value"] = mostPopular5DF["Total Purchase Value"].map('${:,.2f}'.format)
mostPopular5DF["Item Price"] = mostPopular5DF["Item Price"].map('${:,.2f}'.format)
mostPopular5DF

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [11]:
#Most Profitable Items

mostProfitItems = mostPopularDF.sort_values("Total Purchase Value", ascending = False)
most5ProfitItmes = mostProfitItems.head(5)
most5ProfitItmes._is_copy=False

most5ProfitItmes["Total Purchase Value"] = most5ProfitItmes["Total Purchase Value"].map('${:,.2f}'.format)
most5ProfitItmes["Item Price"] = most5ProfitItmes["Item Price"].map('${:,.2f}'.format)
most5ProfitItmes

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80