In [2]:
import pandas as pd
import os

In [3]:
file = "Resources/purchase_data.csv"
purchaseData = pd.read_csv(file)
purchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
#player counts
playerCount = purchaseData["Purchase ID"].count()
playerCountDf = pd.DataFrame({"Total Players": [playerCount]})

In [16]:
#number of unique items
uniqueItems = purchaseData["Item Name"].unique()
countUniqueItems = len(uniqueItems)

#average purchase price
meanItems = purchaseData["Price"].mean()

#total number of purchases
numPurchases = purchaseData["Item Name"].count()

#total Revenue
totalRevenue = purchaseData["Price"].sum()


purchaseAnalysisDf = pd.DataFrame({"Unique Number of Items": [countUniqueItems],
                                      "Average Price": [meanItems],
                                      "Number of Purchases": [numPurchases], 
                                      "Total Revenue": [totalRevenue]}, index = [0])
purchaseAnalysisDf["Average Price"] = purchaseAnalysisDf["Average Price"].map('${:,.2f}'.format)
purchaseAnalysisDf["Total Revenue"] = purchaseAnalysisDf["Total Revenue"].map('${:,.2f}'.format)
purchaseAnalysisDf

   Unique Number of Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
#player gender counts

males = purchaseData.loc[purchaseData["Gender"] == "Male", "Gender"]
females = purchaseData.loc[purchaseData["Gender"] == "Female", "Gender"]
nonDisclosed = purchaseData.loc[purchaseData["Gender"] == "Other / Non-Disclosed", "Gender"]
malePlayers = males.count()
femalePlayers = females.count()
nonDisclosedPlayers = nonDisclosed.count()

genderDF = pd.DataFrame({"Total Counts": [malePlayers, femalePlayers, nonDisclosedPlayers],
                        "Percentage of Players": [((malePlayers/playerCount)*100),
                         ((femalePlayers/playerCount)*100),
                        ((nonDisclosedPlayers/playerCount)*100)]},
                       index = ["Male", "Female", "Other / Non-Disclosed"])
genderDF["Percentage of Players"] = genderDF["Percentage of Players"].map('{:,.2f}%'.format)
genderDF

                       Total Counts Percentage of Players
Male                            652                83.59%
Female                          113                14.49%
Other / Non-Disclosed            15                 1.92%

In [40]:
genderGroups = purchaseData.groupby(["Gender"])
purchaseCount = genderGroups["Item Name"].count()
avgPurchasePrice = genderGroups["Price"].mean()
totalPurValue = genderGroups["Price"].sum()

genderPurchaseData = pd.DataFrame({"Purchase Count" : purchaseCount, 
                                   "Average Purchase Price": avgPurchasePrice, 
                                   "Total Purchase Value":totalPurValue})

#figure out average by person and format data
genderPurchaseData

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [ ]:
#good_movies = movie_file_pd.loc[movie_file_pd["IMDB"] > 7, ["FILM", "IMDB", "IMDB_user_vote_count"]]
#find where location is the gender and pull all columns with it and then find the counts